.topBar{
    display: flex;
    justify-content: space-between;
    height:50px;
    background-color: black;
    color:white;
    padding:0 20px;
    align-items: center;
}

.topBar h2{
    padding:0;
    margin: 0;
}
.username-and-signout{
    display: flex;
    gap:10px;
}
.topBar button{
    background: transparent;
    border: none;
    color: rgb(162, 126, 236);
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid rgb(0, 0, 0); */
}
.topBar button:hover{
    border: 1px solid white;
}
.topBar p{
    font-size: 18px;
}